In [1]:
import pandas as pd

In [2]:
ma_weather = {
    "city" : ["anan","hate","love"],
    "temperature": [35,41,21],
    "humidity" : [80,75,40]
}

df = pd.DataFrame(ma_weather)

In [3]:
df

   city  temperature  humidity
0  anan           35        80
1  hate           41        75
2  love           21        40

In [4]:
uyu_weather = {
    "city" : ["at","sg","sian"],
    "temperature": [15,101,45],
    "humidity" : [30,100,80]
}

df2 = pd.DataFrame(uyu_weather)

In [5]:
pd3 = pd.concat([df,df2])

In [6]:
pd3

   city  temperature  humidity
0  anan           35        80
1  hate           41        75
2  love           21        40
0    at           15        30
1    sg          101       100
2  sian           45        80

In [7]:
#but the index is wrong. so lets ignore the index
pd3 = pd.concat([df,df2],ignore_index=True)
pd3

   city  temperature  humidity
0  anan           35        80
1  hate           41        75
2  love           21        40
3    at           15        30
4    sg          101       100
5  sian           45        80

In [9]:
'''
keys can associate with each dataframe beforethe concat
'''
pd3 = pd.concat([df,df2], keys=["hq","st"])
pd3

      city  temperature  humidity
hq 0  anan           35        80
   1  hate           41        75
   2  love           21        40
st 0    at           15        30
   1    sg          101       100
   2  sian           45        80

In [13]:
pd3.loc["st"] #returns the rows with the index st

   city  temperature  humidity
0    at           15        30
1    sg          101       100
2  sian           45        80

In [15]:
#append as a columns together
temperature_df = pd.DataFrame({
    "city" : ["at","sg","sian"],
    "temperature": [15,101,45]
})
temperature_df

   city  temperature
0    at           15
1    sg          101
2  sian           45

In [16]:
ws_df = pd.DataFrame({
    "city" : ["at","sg","sian"],
    "ws": [100,5,30]
})
ws_df

   city   ws
0    at  100
1    sg    5
2  sian   30

In [19]:
pd4 = pd.concat([temperature_df,ws_df], axis =1) #axis = 1 for column
pd4

   city  temperature  city   ws
0    at           15    at  100
1    sg          101    sg    5
2  sian           45  sian   30

In [21]:
#what if ur data is bad?
ws2_df = pd.DataFrame({
    "city" : ["sian","at"],
    "ws": [100,5]
})

In [24]:
pd5 = pd.concat([temperature_df,ws2_df],axis=1)
pd5

   city  temperature  city     ws
0    at           15  sian  100.0
1    sg          101    at    5.0
2  sian           45   NaN    NaN

In [25]:
# the cities are concat wrongly. so sure a index arg in the concat function to match 
#what if ur data is bad?
ws3_df = pd.DataFrame({
    "city" : ["sian","at"],
    "ws": [100,5]
}, index = [0,2])

In [26]:
s = pd.Series(["rain","wind","sun"], name = "event")
s

0    rain
1    wind
2     sun
Name: event, dtype: object

In [28]:
pd.concat([temperature_df,s],axis=1)

   city  temperature event
0    at           15  rain
1    sg          101  wind
2  sian           45   sun