In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
y = pd.Period('2019')

In [5]:
y

Period('2019', 'A-DEC')

In [4]:
y.is_leap_year

False

In [6]:
#to check out what there is 
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [7]:
month = pd.Period('2018-1',freq='M')
month

Period('2018-01', 'M')

In [8]:
month.start_time

Timestamp('2018-01-01 00:00:00')

In [9]:
month.end_time

Timestamp('2018-01-31 23:59:59.999999999')

In [10]:
#you can increase the month
month + 1

Period('2018-02', 'M')

In [12]:
y+1

Period('2020', 'A-DEC')

In [13]:
#create daily time period
d = pd.Period('2017-2-28',freq='D')
d

Period('2017-02-28', 'D')

In [14]:
d+1

Period('2017-03-01', 'D')

In [15]:
#create hourly
h = pd.Period('2017-2-28 23:59:00',freq='H')
h

Period('2017-02-28 23:00', 'H')

In [16]:
h+1

Period('2017-03-01 00:00', 'H')

In [17]:
h + pd.offsets.Hour(5)

Period('2017-03-01 04:00', 'H')

In [18]:
h-9

Period('2017-02-28 14:00', 'H')

# report quarterly

In [28]:
q = pd.Period('2017Q1',freq='Q-Jan')

In [21]:
q

Period('2017Q1', 'Q-DEC')

In [22]:
q+1

Period('2017Q2', 'Q-DEC')

In [23]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [25]:
q.asfreq('M',how='start')

Period('2017-01', 'M')

In [26]:
q2 = pd.Period('2018Q3',freq='Q-Jan') #it ends in Jan
q2

Period('2018Q3', 'Q-JAN')

In [29]:
q2-q

use `freq='Q-Jan'` to offset the quarters. the default is Q-DEC

In [30]:
index = pd.period_range('2011','2017',freq='Q')

In [31]:
index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [46]:
indexsg = pd.period_range('2018','2019',freq='Q-MAR')
indexsg

PeriodIndex(['2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4'], dtype='period[Q-MAR]', freq='Q-MAR')

In [47]:
indexsg[0].start_time

Timestamp('2018-01-01 00:00:00')

In [48]:
indexsg[0]

Period('2018Q4', 'Q-MAR')

In [45]:
indexsg = pd.Period('2017Q1',freq='Q-MAR')
indexsg.start_time

Timestamp('2016-04-01 00:00:00')

In [49]:
index10 = pd.period_range('2018',periods=10,freq='Q-MAR')

In [50]:
index10

PeriodIndex(['2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1',
             '2020Q2', '2020Q3', '2020Q4', '2021Q1'],
            dtype='period[Q-MAR]', freq='Q-MAR')

In [52]:
#convert into a df so that you can call the range of the years
ps = pd.Series(np.random.randn(len(index)),index)
ps['2012':'2016']

2012Q1    1.096992
2012Q2    0.543109
2012Q3   -0.514128
2012Q4   -1.785686
2013Q1    0.882646
2013Q2    0.166440
2013Q3    1.218536
2013Q4    0.295785
2014Q1    2.096608
2014Q2    0.560509
2014Q3   -1.053461
2014Q4   -0.001406
2015Q1   -2.803646
2015Q2   -1.060664
2015Q3   -0.635935
2015Q4    0.672275
2016Q1    0.504994
2016Q2    0.671602
2016Q3   -3.513310
2016Q4   -0.583386
Freq: Q-DEC, dtype: float64

In [53]:
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [54]:
df.set_index('Line Item',inplace=True)

In [55]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [56]:
df = df.T #transpose

In [57]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [58]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [59]:
df.index = pd.PeriodIndex(df.index,freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [63]:
#create a new column
df['start date'] = df.index.map(lambda x:x.start_time) #use map to put a function in
#use lambda to get the function working
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [65]:
df['end date'] = df.index.map(lambda x:x.end_time)
df

Line Item,Revenue,Expenses,Profit,start date,enhd date,end date
2017Q1,115904,86544,29360,2016-02-01,2016-04-30 23:59:59.999999999,2016-04-30 23:59:59.999999999
2017Q2,120854,89485,31369,2016-05-01,2016-07-31 23:59:59.999999999,2016-07-31 23:59:59.999999999
2017Q3,118179,87484,30695,2016-08-01,2016-10-31 23:59:59.999999999,2016-10-31 23:59:59.999999999
2017Q4,130936,97743,33193,2016-11-01,2017-01-31 23:59:59.999999999,2017-01-31 23:59:59.999999999
2018Q1,117542,87688,29854,2017-02-01,2017-04-30 23:59:59.999999999,2017-04-30 23:59:59.999999999

In [70]:
df.drop(columns=['enhd date'])
df

Line Item,Revenue,Expenses,Profit,start date,enhd date,end date
2017Q1,115904,86544,29360,2016-02-01,2016-04-30 23:59:59.999999999,2016-04-30 23:59:59.999999999
2017Q2,120854,89485,31369,2016-05-01,2016-07-31 23:59:59.999999999,2016-07-31 23:59:59.999999999
2017Q3,118179,87484,30695,2016-08-01,2016-10-31 23:59:59.999999999,2016-10-31 23:59:59.999999999
2017Q4,130936,97743,33193,2016-11-01,2017-01-31 23:59:59.999999999,2017-01-31 23:59:59.999999999
2018Q1,117542,87688,29854,2017-02-01,2017-04-30 23:59:59.999999999,2017-04-30 23:59:59.999999999