In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("msft.csv",header=1,index_col="Date Time",parse_dates=True)

In [3]:
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

In [4]:
df.index #no timezone awareness -> native

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [6]:
#get the timezone in
df = df.tz_localize(tz='US/Eastern')
df.index

DatetimeIndex(['2017-08-17 09:00:00-04:00', '2017-08-17 09:15:00-04:00',
               '2017-08-17 09:30:00-04:00', '2017-08-17 10:00:00-04:00',
               '2017-08-17 10:30:00-04:00', '2017-08-17 11:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date Time', freq=None)

In [7]:
# the timezome is by UTC

In [8]:
df = df.tz_convert(tz='Europe/Berlin') #convert the time into the berlin timezone
df

                           Price
Date Time
2017-08-17 15:00:00+02:00  72.38
2017-08-17 15:15:00+02:00  71.00
2017-08-17 15:30:00+02:00  71.67
2017-08-17 16:00:00+02:00  72.80
2017-08-17 16:30:00+02:00  73.00
2017-08-17 17:00:00+02:00  72.50

In [9]:
df.index = df.index.tz_convert(tz='Europe/Berlin')
df

                           Price
Date Time
2017-08-17 15:00:00+02:00  72.38
2017-08-17 15:15:00+02:00  71.00
2017-08-17 15:30:00+02:00  71.67
2017-08-17 16:00:00+02:00  72.80
2017-08-17 16:30:00+02:00  73.00
2017-08-17 17:00:00+02:00  72.50

In [12]:
rng = pd.date_range(start='1/1/2017',periods=10,freq='H',tz="Europe/London")

In [13]:
rng

DatetimeIndex(['2017-01-01 00:00:00+00:00', '2017-01-01 01:00:00+00:00',
               '2017-01-01 02:00:00+00:00', '2017-01-01 03:00:00+00:00',
               '2017-01-01 04:00:00+00:00', '2017-01-01 05:00:00+00:00',
               '2017-01-01 06:00:00+00:00', '2017-01-01 07:00:00+00:00',
               '2017-01-01 08:00:00+00:00', '2017-01-01 09:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='H')

In [14]:
# if you use dateutil , you will use all the timezone available in the system 
# while tz is from all_timezone from pytz

In [15]:
rng = pd.date_range(start='1/1/2017',periods=10,freq='30min',tz="Europe/London")
s = pd.Series(range(10),index=rng)
s

2017-01-01 00:00:00+00:00    0
2017-01-01 00:30:00+00:00    1
2017-01-01 01:00:00+00:00    2
2017-01-01 01:30:00+00:00    3
2017-01-01 02:00:00+00:00    4
2017-01-01 02:30:00+00:00    5
2017-01-01 03:00:00+00:00    6
2017-01-01 03:30:00+00:00    7
2017-01-01 04:00:00+00:00    8
2017-01-01 04:30:00+00:00    9
Freq: 30T, dtype: int64

In [17]:
b = s.tz_convert(tz='Europe/Berlin')

In [18]:
b

2017-01-01 01:00:00+01:00    0
2017-01-01 01:30:00+01:00    1
2017-01-01 02:00:00+01:00    2
2017-01-01 02:30:00+01:00    3
2017-01-01 03:00:00+01:00    4
2017-01-01 03:30:00+01:00    5
2017-01-01 04:00:00+01:00    6
2017-01-01 04:30:00+01:00    7
2017-01-01 05:00:00+01:00    8
2017-01-01 05:30:00+01:00    9
Freq: 30T, dtype: int64

In [19]:
b.index

DatetimeIndex(['2017-01-01 01:00:00+01:00', '2017-01-01 01:30:00+01:00',
               '2017-01-01 02:00:00+01:00', '2017-01-01 02:30:00+01:00',
               '2017-01-01 03:00:00+01:00', '2017-01-01 03:30:00+01:00',
               '2017-01-01 04:00:00+01:00', '2017-01-01 04:30:00+01:00',
               '2017-01-01 05:00:00+01:00', '2017-01-01 05:30:00+01:00'],
              dtype='datetime64[ns, Europe/Berlin]', freq='30T')

In [22]:
b+s #do mathematical functions between two dates and pandas will try to align the dates' data

2017-01-01 00:00:00+00:00     0
2017-01-01 00:30:00+00:00     2
2017-01-01 01:00:00+00:00     4
2017-01-01 01:30:00+00:00     6
2017-01-01 02:00:00+00:00     8
2017-01-01 02:30:00+00:00    10
2017-01-01 03:00:00+00:00    12
2017-01-01 03:30:00+00:00    14
2017-01-01 04:00:00+00:00    16
2017-01-01 04:30:00+00:00    18
Freq: 30T, dtype: int64