In [2]:
import pandas as pd

df = pd.DataFrame( {
    "city" : ["anan","hate","love"],
    "temperature": [35,41,21],
}
)

In [3]:
df2 = pd.DataFrame( {
    "city" : ["hate","love","anan"],
    "HUMIDITY": [35,41,21],
}
)

In [4]:
df

   city  temperature  humidity
0  anan           35        80
1  hate           41        75
2  love           21        40

In [5]:
df2

   city  HUMIDITY
0  hate        35
1  love        41
2  anan        21

In [6]:
df3= pd.merge(df,df2,on="city")
df3

   city  temperature  humidity  HUMIDITY
0  anan           35        80        21
1  hate           41        75        35
2  love           21        40        41

In [7]:
# if the dataframes have different rows or missing names, the merge function will just merge those
# that are still shared, ie inner join using on

In [8]:
df4= pd.merge(df,df2,how="outer") #how = "outer" is outer join, join everything