In [7]:
import pandas as pd
df = pd.read_csv("weather_data.csv")

In [8]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [9]:
# create via excel file
df2 = pd.read_excel("weather_data.xlsx")

In [10]:
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [11]:
'''if create from dictionary
the keys become the columns 
use pd.DataFrame(dictionary name)
'''

'if create from dictionary\nthe keys become the columns \n'

In [12]:
'''
using tuples
each tuple must contain the exact same number of element and type.
but no column name

df = pd.DataFrame(tuples name, columns = ["day","temp",...])
'''

'\nusing tuples\neach tuple must contain the exact same number of element and type.\nbut no column name\n\ndf = pd.DataFrame(tuples name, columns = ["day","temp",...])\n'

In [13]:
'''
from a list
weather_data = [ {},{},{}]
the keys in each dictonary is the col name, each dic is a row in the table
pd.DataFrame(weather_data)
'''

'\nfrom a list\nweather_data = [ {},{},{}]\nthe keys in each dictonary is the col name, each dic is a row in the table\npd.DataFrame(weather_data)\n'